/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
} */

body{
     background-image: url(home.jpeg);
     background-size:cover;
    background-position:center; 
}
header{
    color:white;
   display:flex;
    justify-content:space-between;
    align-items:center; 

    padding:20px 50px;
}

nav a{
    
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight: bold;
     border: radius 50px;
    transition:.3s;
}
 .container{
    display:flex;
    gap:20px;
    padding:20px;
    
}  

.left-side{
    width:20%;
    padding:20px;
    border-radius:10px;
    font-weight: bold;
    color:white;
}

.left-side ul{
    list-style:none;
    margin-top:15px;
}
.left-side li{
    padding:10px 0;
}
main{
    width:60%;
    /* display:flex;
    flex-direction:column; */
    gap:20px;
}

.home{
    height:280px;
    font-weight: 600;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
 text-align:center;
    color:white;
}
.home h2{
    font-size:30px;
}
.home p{
    width:70%;
    margin:15px 0;
}

 aside{
    width:20%;
    padding:20px;
    border-radius:10px;
    font-weight: bold;
    color: #eef2f3;}


aside p{
    margin-top:15px;
  }

footer{
    color:white;
    text-align:center;
    padding:20px;
    border-radius:10px;
    font-weight: bold;
}
.btn{
    border-radius: 0px;
    background-color:#d1cfd2;
    color: #0c0d0d;
    text-decoration: none;
    padding: 10px;
}
.btn:hover{
     background:saddlebrown;
    color:white;
    border-radius: 15px;
    border: 10px;

}
nav a:hover{
    background:saddlebrown;
    color:white;
    border-radius: 15px;
    border: 10px;
}
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .container {
        width: 100%;
    }

    img {
        width: 100%;
    }
}

